.form-horizontal .control-label {
	width: 60px;
}

.form-horizontal .controls {
	margin-left: 80px;
}

.form-horizontal .form-actions {
	padding-left: 81px;
}

.controls .error {
	margin-left: 10px;
}